<!Doctype html>

html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="assets/sanitize.css")
    link(rel="stylesheet" href="assets/style.css")

    title= sitename
    link(rel="icon" href="assets/sike.png")
    meta(name="description" content=description)
    
    meta(property="og:type" content="website")
    meta(property="og:title" content=sitename)
    meta(property="og:site_name" content=sitename)
    meta(property="og:url" content=siteurl)
    meta(property="og:description" content=description)
    meta(property="og:image" content=siteurl+"assets/sike.png")
    meta(property="og:image" content=siteurl+"assets/sike.svg")
  body
    nav
      img#logo(src="assets/sike.svg")
      ul#menu
        each a in anchors
          li
            a(href=`#${a.id}`, class=`level-${a.level}`)= a.text
    main!= contents
